/* All Z-indexes must be above the minimum value for Bootstrap modal to fully work, that is, 1050 */

#denied-protocol-alert {
    display: none;
    width: 100%;
    position: absolute;
    z-index: 1052;
}

#qr-auth-html-wrapper, #qr-auth-html-fallback-wrapper {
    height: 100%;
    width: 100%;
    position: absolute;
    visibility: hidden; /* As both elements have the same z-index, hide both initially, draw later the first loaded */
    z-index: 1051;
}

/* Z-index will be set to place the view in front when the we load it */
#pong-game-html-wrapper, #pong-game-html-fallback-wrapper {
    height: 100%;
    width: 100%;
    position: absolute;
    visibility: hidden; /* As both elements have the same z-index, hide both initially, draw later the first loaded */
    z-index: 1052;
}
