/* All Z-indexes must be above the minimum value for Bootstrap modal to fully work, that is, 1050 */

#denied-protocol-alert {
    display: none;
    width: 100%;
    position: absolute;
    z-index: 1052;
}

#qr-auth-html-wrapper {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1051;
}

#pong-game-html-wrapper {
    height: 100%;
    width: 100%;
    position: absolute;
    visibility: hidden; /* As this element is placed more in front than QR authentication, hide it initially */
    z-index: 1052;
}
