body {
    background-color: lightblue;
}

img {
    height: 100%;
    width: 100%;
}

#auth-errors {
    display: none;
}

#preview, #preview2 {
    /* Never set hidden as div parameter, or capture breaks */
    visibility: hidden;

    position: absolute;
}

/* Toggleable WebCam feedback to display in bottom right page corner */
#collapsible-capture-feedback {
    bottom: 0px;
    position: absolute;
    right: 0px;
    z-index: 1050; /* Minimum level to allow interacting when Boostrap modal is open */
}

#qr-canvas {
    display: none;
    width: 200px; /* Use a reasonable small width to preserve window space. Height will be dynamically set later. */
}

#qr-code-gen-html-wrapper {
    height: 100%;
    width: 100%;
    position: absolute;
}
