body {
    background-color: lightblue;
}

#auth-errors {
    display: none;
}

#camera1_video, #camera2_video, #camera3_video, #camera4_video {
    position: absolute;
    display: none;
}

/* Toggleable WebCam feedback to display in bottom right page corner */
#collapsible-capture-feedback {
    bottom: 0px;
    position: absolute;
    right: 0px;
    z-index: 1050; /* Minimum level to allow interacting when Boostrap modal is open */
}

#mini_camera_preview {
    display: none;
    width: 200px; /* To preserve window space. Height will be dynamically set later. */
}

#qr-canvas {
    display: none;
    position: absolute;
}

#qr-code-gen-html-wrapper {
    height: 100%;
    width: 100%;
    position: absolute;
}
