body {
	background-color: lightblue;
}

img {
	width: 100%;
	height: 100%;
}

#preview {
	position: absolute;
	/* Never set hidden as div parameter, or capture breaks */
	visibility: hidden;
}

#qr-canvas {
	position: absolute;
	visibility: hidden;
}
